{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
<div class="container">
    <div class="header">
        <h1><a href="/books">Каталог</a></h1>
    </div>
    <div class="row">
        <div class="book col-md-4">
            {% for book in books_list %}
            <h2><a href="{% url 'books' book.pub_date %}">{{book.name}}</a></h2>
            <p>Автор:{{ book.author }}</p>
            <p>Дата публикации:{{ book.pub_date }}</p>
            {% endfor %}
        </div>
        <div class="book col-md-4">
            {% for book in books_list %}
            <h2><a href="{% url 'books' book.pub_date %}">{{book.name}}</a></h2>
            <p>Автор: {{ book.author }}</p>
            <p>Дата публикации:{{ book.pub_date }}</p>
            {% endfor %}
        </div>
    </div>
    <nav class="menu">
        <ul>
            {% for pub_date in books_all %}
            <p><a href="{% url 'books' pub_date %}">{{ pub_date }}</a></p>
            {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}