{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
<div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                {% for book in books_list %}
                <h2><a href="{% url 'books' book.pub_date %}">{{book.name}}</a></h2>
                <p>Автор:{{ book.author }}</p>
                <p>Дата публикации:{{ book.pub_date }}</p>
<!--                {% for b in book.pud_date %}-->
<!--                {{ b }}-->
<!--                {% endfor %}-->
<!--                <h2><a href="{{ b }}">{{ b }}</a></h2>-->
<!--                {% endfor %}-->
<!--                {% if books.has_previous %}-->
<!--                <h2><a href="{% url 'books' book.pub_date %}}">{{book.pub_date}}</a></h2>-->
<!--                {% endif %}-->
                {% endfor %}
            </div>
            <div class="book col-md-4">
                {% for book in books_list %}
                <h2><a href="{% url 'books' book.pub_date %}">{{book.name}}</a></h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации:{{ book.pub_date }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}